$mainColor : #ffd41c;
body {
    font-family: Nunito, 'Sans-serif';
}
#react {
    .modal-backdrop {
        background-color: rgba(0, 0, 0, 0.3);
    }
    .modal-lg { width: 100% }
}

#header {
    background-color: $mainColor;
    .container-fluid { background-color: $mainColor; padding: 10px; }
    .app-title { font-size: 24px; color: #000;}
    a { color: #222 }
}


#inputPage {
    padding: 10px;
}

.comment-space {
    padding: 10px;
    border: 1px solid #eee;
    height: 30vh;
    overflow-y: scroll;
    .username{ margin-right: 10px; color: blue;}
    .text { color: #888; }
    .time { font-size: 11px; color: #ccc; text-align: right }
}